In [35]:
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow.keras.layers as layers
from sklearn.model_selection import KFold
import scipy as sc


import training_utils

In [36]:
img_size=(240, 320)
img_channels = 3
batch_size=32
epochs = 50
display_epochs = (0, 100)

In [37]:
model_name = 'Xception_like_global(32-64-126)2_(NaN).tf'

In [38]:
train_size = 1000
validation_size = 500
test_size = 500

# Load the DataSet

Dataset citation:
- From Semi-Supervised to Transfer Counting of Crowds
C. C. Loy, S. Gong, and T. Xiang
in Proceedings of IEEE International Conference on Computer Vision, pp. 2256-2263, 2013 (ICCV)
- Cumulative Attribute Space for Age and Crowd Density Estimation
K. Chen, S. Gong, T. Xiang, and C. C. Loy
in Proceedings of IEEE Conference on Computer Vision and Pattern Recognition, pp. 2467-2474, 2013 (CVPR, Oral)
- Crowd Counting and Profiling: Methodology and Evaluation
C. C. Loy, K. Chen, S. Gong, T. Xiang
in S. Ali, K. Nishino, D. Manocha, and M. Shah (Eds.), Modeling, Simulation and Visual Analysis of Crowds, Springer, vol. 11, pp. 347-382, 2013
- Feature Mining for Localised Crowd Counting
K. Chen, C. C. Loy, S. Gong, and T. Xiang
British Machine Vision Conference, 2012 (BMVC)

In [39]:
dataset_path = '/Users/olove/Library/CloudStorage/OneDrive-Personal/AI datasets/CrowdCounter'

In [40]:
labels_df = pd.read_csv(dataset_path + '/labels.csv')
labels_df['image_name'] = labels_df['id'].map('seq_{:06d}.jpg'.format)
labels_df.drop("id", axis=1,inplace=True)
display(labels_df)

      count      image_name
0        35  seq_000001.jpg
1        41  seq_000002.jpg
2        41  seq_000003.jpg
3        44  seq_000004.jpg
4        41  seq_000005.jpg
...     ...             ...
1995     27  seq_001996.jpg
1996     27  seq_001997.jpg
1997     25  seq_001998.jpg
1998     26  seq_001999.jpg
1999     26  seq_002000.jpg

[2000 rows x 2 columns]

In [41]:
labels_df = labels_df.sample(frac=1).reset_index(drop=True)
display(labels_df)

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[2000 rows x 2 columns]

# Define the model

In [42]:
inputs = keras.Input(shape= img_size + (img_channels,))

## Custom Simple Covnet

Downsizing using strides instead of MaxPolling in order to conserve location data

In [43]:
def basic_covnet_block(input):
    x = layers.Conv2D(filters=32, kernel_size=3, strides=2, activation="relu")(inputs)
    x = layers.Conv2D(filters=64, kernel_size=3, strides=2, activation="relu")(x)
    x = layers.Conv2D(filters=128, kernel_size=3, strides=2, activation="relu")(x)
    return x

## Custom Depthwise Seperable Convolution

In [44]:
def custom_depthwise_conv_block(input, sizes, repeat_per_size, stride = 1, pooling = False, dropout = False, residual = False):
    x = input

    previous_block_activation = x
    
    for size in sizes:
        for i in range(repeat_per_size - 1):
            x = layers.BatchNormalization()(x)
            x  = layers.Activation("relu")(x)
            x = layers.SeparableConv2D(size, 3, padding='same', use_bias=False)(x)
        x = layers.BatchNormalization()(x)
        x  = layers.Activation("relu")(x)
        if dropout:
            x = layers.Dropout(0.5)(x)
        x = layers.SeparableConv2D(size, 3, strides=1 if pooling else stride, padding='same', use_bias=False)(x)
        if pooling:
            x = layers.MaxPooling2D(3, strides=stride, padding='same')(x)
        if residual:
            r = layers.SeparableConv2D(size, 1, strides=stride, padding="same")(
                previous_block_activation
            )
            x = layers.add([x, r])
            previous_block_activation = x



    return x

In [45]:
def vgg_16_model():
    covnet = keras.applications.vgg16.VGG16(
        include_top=False, 
        weights='imagenet', 
        input_shape=img_size + (img_channels,))(inputs)
    covnet.trainable = False
    outputs = basic_dense_block(covnet, [256])
    return keras.Model(inputs=inputs, outputs=outputs)

## Output Layer

In [46]:
def basic_dense_block(covnet_param, sizes, global_pooling = False):
    if global_pooling:
        x = layers.GlobalAveragePooling2D()(covnet_param)
    else:
        x = layers.Flatten()(covnet_param)
    x = layers.Dropout(0.5)(x)
    for size in sizes:
        x = layers.Dense(size, activation="relu")(x)
        x = layers.Dropout(0.5)(x)
    outputs = layers.Dense(1)(x)
    return outputs

In [47]:
def Xception_model():
    covnet = layers.Conv2D(filters=32, kernel_size=5, use_bias=False)(inputs)
    covnet = custom_depthwise_conv_block(covnet, [32, 64], 2, stride=2, pooling=True, residual=True)
    covnet = custom_depthwise_conv_block(covnet, [128], 2, residual=True)
    outputs = basic_dense_block(covnet, [], global_pooling=True)
    return keras.Model(inputs=inputs, outputs=outputs)

In [48]:
model = vgg_16_model()
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_5 (InputLayer)        [(None, 240, 320, 3)]     0

 vgg16 (Functional)          (None, 7, 10, 512)        14714688

 flatten_2 (Flatten)         (None, 35840)             0

 dropout_2 (Dropout)         (None, 35840)             0

 dense_2 (Dense)             (None, 256)               9175296

 dropout_3 (Dropout)         (None, 256)               0

 dense_3 (Dense)             (None, 1)                 257

=================================================================
Total params: 23890241 (91.13 MB)
Trainable params: 23890241 (91.13 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

# Train and compare different models

In [49]:
model.compile(loss="mse", optimizer="adam", metrics=["mae"])
# TODO: Try mae vs accuracy. mae should be better since we are adjusting it to get closer to the actual value

In [50]:
callbacks_list = [
    keras.callbacks.EarlyStopping(
        monitor="val_loss", patience=4
    ),
    keras.callbacks.ModelCheckpoint(
        filepath=model_name,
        monitor="val_loss",
        save_best_only=True
    ),
#    keras.callbacks.TensorBoard()
]

In [51]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 2)

result= next(kf.split(labels_df), None)
display(labels_df.iloc[result[0]])

test =  labels_df.iloc[result[1]]
display(test)
print(result[0])

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
5        29  seq_001923.jpg
6        28  seq_001226.jpg
8        42  seq_000414.jpg
...     ...             ...
1992     31  seq_001443.jpg
1993     26  seq_000837.jpg
1994     28  seq_001378.jpg
1997     30  seq_000815.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

      count      image_name
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
7        37  seq_001623.jpg
37       27  seq_001355.jpg
...     ...             ...
1982     24  seq_001416.jpg
1983     28  seq_001699.jpg
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1998     28  seq_000799.jpg

[400 rows x 2 columns]

[   0    1    5 ... 1994 1997 1999]

In [52]:
all(labels_df.iloc[result[0]]['image_name'].apply(lambda x: isinstance(x, str)))

True

In [53]:
def k_fold_validation(i_model):
    Wsave = i_model.get_weights()

    i_kf = KFold(n_splits = 5, shuffle = True, random_state = 2)
    
    history_store = []
    
    for i_result in i_kf.split(labels_df):
    
        train = labels_df.iloc[i_result[0]]
        test =  labels_df.iloc[i_result[1]]
        
        print(i_result[0])
        print(i_result[1])
        
        display(labels_df)
        display(train)
        print(f'Train size: {len(train)}')
        display(test)
        print(f'Test size: {len(test)}')

        (train_generator, validation_generator) = training_utils.load_generators(train, test, dataset_path, batch_size, img_size)

        i_model.set_weights(Wsave)
        i_history = i_model.fit(train_generator,
                                epochs=epochs,
                                callbacks = callbacks_list,
                                validation_data=validation_generator,
                                )
        
        history_store.append(i_history)
        
    return history_store

In [54]:
history = k_fold_validation(model)

[   0    1    5 ... 1994 1997 1999]
[   2    3    4    7   37   45   52   61   65   66   68   69   76   80
   82   83   84   85   93  101  112  114  117  119  123  137  142  143
  145  154  155  157  161  173  176  180  181  197  199  215  226  230
  231  232  236  239  240  241  246  248  263  268  270  271  275  278
  280  284  288  294  305  316  323  332  344  352  354  355  356  361
  365  368  370  372  376  385  391  401  411  418  426  445  448  452
  455  456  458  459  465  468  470  472  479  481  484  488  492  494
  501  502  503  505  515  524  526  529  538  540  547  556  557  558
  560  570  577  580  581  582  586  598  600  606  610  611  615  619
  625  627  633  642  643  652  662  675  677  681  694  695  711  728
  735  738  748  768  770  776  786  802  821  823  825  826  835  837
  840  844  849  851  852  871  874  880  882  888  891  897  905  909
  916  923  928  945  951  952  961  969  978  980  981  985  991  996
 1006 1014 1023 1025 1040 1042 1046 1051 1068 1077 1090 1091 1092 1108
 1113 1115 1116 1118 1120 1130 1134 1139 1143 1145 1146 1148 1156 1170
 1174 1176 1181 1182 1188 1193 1195 1203 1209 1212 1218 1224 1237 1247
 1259 1266 1274 1277 1282 1284 1290 1300 1303 1306 1313 1315 1316 1317
 1324 1329 1334 1342 1344 1345 1348 1351 1353 1362 1364 1366 1367 1368
 1370 1381 1387 1397 1398 1406 1408 1410 1415 1417 1423 1430 1431 1433
 1437 1438 1452 1461 1462 1464 1468 1471 1475 1477 1482 1484 1486 1488
 1489 1504 1508 1512 1516 1521 1527 1529 1535 1537 1538 1543 1545 1549
 1550 1551 1552 1555 1556 1570 1572 1586 1591 1600 1602 1604 1605 1606
 1611 1619 1622 1623 1628 1629 1631 1633 1640 1663 1668 1669 1672 1674
 1683 1685 1689 1690 1695 1703 1705 1707 1710 1715 1716 1718 1719 1723
 1726 1734 1735 1737 1739 1740 1742 1748 1749 1757 1759 1762 1764 1772
 1777 1787 1792 1793 1798 1804 1809 1815 1821 1826 1827 1832 1835 1837
 1840 1849 1857 1858 1859 1867 1870 1878 1882 1893 1896 1899 1902 1906
 1910 1911 1912 1920 1922 1924 1931 1932 1940 1945 1946 1959 1965 1967
 1976 1977 1980 1982 1983 1995 1996 1998]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[2000 rows x 2 columns]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
5        29  seq_001923.jpg
6        28  seq_001226.jpg
8        42  seq_000414.jpg
...     ...             ...
1992     31  seq_001443.jpg
1993     26  seq_000837.jpg
1994     28  seq_001378.jpg
1997     30  seq_000815.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

Train size: 1600

      count      image_name
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
7        37  seq_001623.jpg
37       27  seq_001355.jpg
...     ...             ...
1982     24  seq_001416.jpg
1983     28  seq_001699.jpg
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1998     28  seq_000799.jpg

[400 rows x 2 columns]

Test size: 400

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
5        29  seq_001923.jpg
6        28  seq_001226.jpg
8        42  seq_000414.jpg
...     ...             ...
1992     31  seq_001443.jpg
1993     26  seq_000837.jpg
1994     28  seq_001378.jpg
1997     30  seq_000815.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

image_name
count
Found 1600 validated image filenames.
Found 400 validated image filenames.
Epoch 1/50
50/50 [==============================] - ETA: 0s - loss: 60124.5508 - mae: 66.3734INFO:tensorflow:Assets written to: Xception_like_global(32-64-126)2_(NaN).tf/assets

INFO:tensorflow:Assets written to: Xception_like_global(32-64-126)2_(NaN).tf/assets

50/50 [==============================] - 75s 1s/step - loss: 60124.5508 - mae: 66.3734 - val_loss: 10666273.0000 - val_mae: 3258.2256
Epoch 2/50
50/50 [==============================] - 73s 1s/step - loss: 148297269248.0000 - mae: 154492.0625 - val_loss: 16252987392.0000 - val_mae: 127451.5391
Epoch 3/50
50/50 [==============================] - 73s 1s/step - loss: 165741138685198336.0000 - mae: 125842880.0000 - val_loss: 231834534977470464.0000 - val_mae: 481403168.0000
Epoch 4/50
50/50 [==============================] - 73s 1s/step - loss: 732503648675823616.0000 - mae: 398761696.0000 - val_loss: 37083742208.0000 - val_mae: 183508.7812
Epoch 5/50
50/50 [==============================] - 73s 1s/step - loss: 6308881048800841433088.0000 - mae: 34066110464.0000 - val_loss: 2984509014410616897536.0000 - val_mae: 54575185920.0000
[   0    1    2 ... 1996 1998 1999]
[   6   14   17   18   20   21   33   40   41   46   47   58   70   71
   89  102  108  109  111  127  128  129  141  146  156  160  169  171
  177  183  185  188  192  194  200  204  209  212  235  249  251  256
  258  259  265  272  273  279  283  285  286  287  301  304  307  308
  309  311  312  313  315  318  333  334  335  336  341  346  349  353
  363  367  369  371  377  382  384  386  387  398  400  402  403  405
  407  417  421  427  429  431  436  441  447  453  457  462  464  476
  477  496  498  504  508  510  511  512  519  522  525  530  532  541
  542  544  546  552  563  564  568  571  573  575  576  579  599  601
  603  612  614  624  644  645  649  651  658  659  663  664  665  666
  671  672  678  688  690  691  696  715  721  724  729  731  732  734
  736  739  743  745  756  757  761  763  765  771  778  781  784  787
  790  792  794  795  798  799  803  807  809  819  827  829  842  846
  847  856  861  862  877  885  887  911  914  917  921  929  930  940
  944  949  953  954  957  960  977  984  990  993  994  997  998 1003
 1008 1018 1026 1031 1037 1039 1044 1054 1055 1056 1061 1062 1067 1082
 1084 1089 1097 1098 1101 1104 1105 1114 1121 1123 1127 1129 1137 1140
 1144 1150 1155 1158 1166 1171 1180 1204 1205 1207 1210 1211 1215 1216
 1217 1222 1223 1228 1229 1250 1251 1253 1255 1256 1263 1268 1275 1279
 1281 1292 1297 1304 1312 1328 1333 1341 1346 1352 1355 1357 1359 1390
 1399 1400 1412 1420 1421 1435 1436 1441 1443 1444 1449 1456 1460 1474
 1476 1480 1487 1491 1494 1495 1505 1510 1514 1526 1533 1536 1541 1554
 1564 1566 1568 1573 1587 1589 1592 1603 1615 1617 1624 1636 1639 1641
 1646 1648 1653 1654 1656 1660 1661 1662 1665 1677 1680 1682 1684 1691
 1694 1697 1698 1699 1702 1714 1720 1722 1725 1727 1728 1743 1746 1747
 1755 1756 1758 1766 1776 1796 1799 1803 1806 1813 1817 1820 1824 1825
 1828 1842 1844 1846 1848 1850 1854 1865 1872 1875 1876 1881 1883 1886
 1888 1889 1900 1905 1908 1914 1923 1928 1952 1954 1955 1961 1963 1971
 1973 1974 1975 1984 1986 1990 1991 1997]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[2000 rows x 2 columns]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1994     28  seq_001378.jpg
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

Train size: 1600

      count      image_name
6        28  seq_001226.jpg
14       31  seq_000938.jpg
17       34  seq_001662.jpg
18       43  seq_001618.jpg
20       30  seq_001687.jpg
...     ...             ...
1984     35  seq_001534.jpg
1986     35  seq_001457.jpg
1990     29  seq_001589.jpg
1991     35  seq_001428.jpg
1997     30  seq_000815.jpg

[400 rows x 2 columns]

Test size: 400

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1994     28  seq_001378.jpg
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

image_name
count
Found 1600 validated image filenames.
Found 400 validated image filenames.
Epoch 1/50
50/50 [==============================] - ETA: 0s - loss: 34553383410991104.0000 - mae: 29520548.0000INFO:tensorflow:Assets written to: Xception_like_global(32-64-126)2_(NaN).tf/assets

INFO:tensorflow:Assets written to: Xception_like_global(32-64-126)2_(NaN).tf/assets

50/50 [==============================] - 72s 1s/step - loss: 34553383410991104.0000 - mae: 29520548.0000 - val_loss: 448.4822 - val_mae: 20.0090
Epoch 2/50
50/50 [==============================] - ETA: 0s - loss: 243.5166 - mae: 11.2546INFO:tensorflow:Assets written to: Xception_like_global(32-64-126)2_(NaN).tf/assets

INFO:tensorflow:Assets written to: Xception_like_global(32-64-126)2_(NaN).tf/assets

50/50 [==============================] - 72s 1s/step - loss: 243.5166 - mae: 11.2546 - val_loss: 65.5817 - val_mae: 6.6019
Epoch 3/50
50/50 [==============================] - 70s 1s/step - loss: 7895135232.0000 - mae: 17416.0859 - val_loss: 180270448640.0000 - val_mae: 424150.4375
Epoch 4/50
50/50 [==============================] - 70s 1s/step - loss: 77701369036800.0000 - mae: 5777138.0000 - val_loss: 33446546112512.0000 - val_mae: 5764825.5000
Epoch 5/50
50/50 [==============================] - 70s 1s/step - loss: 3444754350080.0000 - mae: 1028526.3750 - val_loss: 7252654686208.0000 - val_mae: 2677919.0000
Epoch 6/50
50/50 [==============================] - 70s 1s/step - loss: 261435326464.0000 - mae: 382125.2500 - val_loss: 9618268880896.0000 - val_mae: 3087501.7500
[   2    3    4 ... 1997 1998 1999]
[   0    1   11   15   16   22   23   28   36   50   56   60   62   67
   74   75   77   86   90   91   99  104  107  116  120  126  134  148
  152  158  164  172  174  175  179  182  193  201  202  203  205  213
  219  221  223  227  237  250  252  262  264  267  277  281  290  291
  293  295  297  310  317  319  321  322  325  326  327  328  330  338
  342  343  345  347  351  374  375  378  379  388  394  397  399  414
  419  425  432  437  439  440  451  460  469  471  473  480  486  487
  490  500  513  518  521  523  535  543  545  549  550  551  553  555
  567  572  574  584  589  590  592  593  595  596  597  608  618  621
  640  641  653  654  667  682  684  692  697  699  701  704  705  707
  708  716  717  719  720  727  737  741  744  752  755  773  779  782
  788  789  796  801  810  813  814  816  824  834  843  848  853  857
  859  863  870  873  881  883  884  886  901  903  907  915  920  922
  925  926  931  932  941  943  946  948  955  956  963  964  966  968
  982  983  986  999 1007 1034 1036 1043 1048 1053 1066 1072 1078 1079
 1081 1086 1094 1095 1096 1111 1124 1125 1131 1132 1133 1142 1152 1153
 1154 1161 1163 1165 1167 1173 1177 1179 1184 1187 1189 1191 1194 1196
 1199 1202 1206 1220 1221 1236 1254 1257 1260 1265 1267 1293 1296 1298
 1299 1305 1308 1309 1310 1318 1320 1330 1332 1335 1336 1339 1354 1358
 1369 1371 1377 1380 1383 1386 1388 1389 1394 1395 1396 1403 1413 1419
 1422 1424 1447 1448 1450 1453 1454 1459 1465 1466 1469 1481 1492 1497
 1502 1509 1513 1515 1520 1532 1534 1542 1546 1553 1557 1560 1561 1563
 1565 1578 1581 1582 1590 1595 1597 1618 1620 1626 1632 1637 1644 1655
 1658 1664 1667 1670 1671 1676 1678 1687 1692 1693 1700 1712 1713 1724
 1729 1731 1741 1750 1752 1753 1761 1763 1768 1770 1775 1778 1780 1782
 1783 1786 1791 1797 1800 1801 1802 1810 1811 1818 1819 1822 1823 1829
 1833 1836 1838 1852 1853 1861 1863 1864 1866 1868 1869 1874 1890 1892
 1894 1904 1907 1913 1915 1917 1919 1921 1925 1926 1927 1936 1941 1947
 1950 1951 1956 1957 1960 1968 1972 1989]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[2000 rows x 2 columns]

      count      image_name
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
5        29  seq_001923.jpg
6        28  seq_001226.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

Train size: 1600

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
11       24  seq_000264.jpg
15       44  seq_001726.jpg
16       30  seq_001441.jpg
...     ...             ...
1957     25  seq_000502.jpg
1960     38  seq_000685.jpg
1968     34  seq_001927.jpg
1972     22  seq_000632.jpg
1989     33  seq_000734.jpg

[400 rows x 2 columns]

Test size: 400

      count      image_name
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
5        29  seq_001923.jpg
6        28  seq_001226.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

image_name
count
Found 1600 validated image filenames.
Found 400 validated image filenames.
Epoch 1/50
50/50 [==============================] - 70s 1s/step - loss: 478022945145804172558336.0000 - mae: 444855025664.0000 - val_loss: 2441756016468201308160.0000 - val_mae: 49041035264.0000
Epoch 2/50
50/50 [==============================] - 70s 1s/step - loss: 638222757305212280504320.0000 - mae: 585250963456.0000 - val_loss: 10642815441509501894656.0000 - val_mae: 102917505024.0000
Epoch 3/50
50/50 [==============================] - 70s 1s/step - loss: 734993944370328360714240.0000 - mae: 635726200832.0000 - val_loss: 53738027114095699820544.0000 - val_mae: 231632011264.0000
Epoch 4/50
50/50 [==============================] - 70s 1s/step - loss: 859417089032311210508288.0000 - mae: 700603105280.0000 - val_loss: 88760382206333046226944.0000 - val_mae: 297725853696.0000
Epoch 5/50
50/50 [==============================] - 70s 1s/step - loss: 952933722805110237560832.0000 - mae: 741412634624.0000 - val_loss: 113059833218987454365696.0000 - val_mae: 336011853824.0000
[   0    1    2 ... 1996 1997 1998]
[   5   10   12   13   24   25   26   27   29   30   32   35   38   42
   48   53   54   55   59   72   73   78   94  100  103  106  110  113
  118  125  130  131  133  135  136  138  139  147  150  151  159  163
  165  166  167  168  178  184  191  196  198  206  208  210  214  216
  217  222  225  228  234  238  242  244  247  254  257  266  276  289
  292  300  302  303  314  320  329  331  339  340  350  373  380  381
  383  393  395  396  408  409  412  416  423  430  435  438  443  444
  449  463  467  475  482  483  489  495  499  507  514  516  520  533
  536  537  559  561  565  566  569  578  583  585  588  591  602  616
  617  620  623  626  628  629  631  632  636  637  638  639  646  656
  657  660  668  669  673  680  683  685  687  693  700  702  706  710
  712  713  726  733  740  742  747  749  750  766  775  777  780  783
  793  797  806  811  812  815  818  832  833  836  839  845  854  860
  864  866  869  878  879  889  893  895  899  900  910  913  927  933
  936  958  959  962  965  967  970  971  973  979  988  992  995 1001
 1002 1009 1010 1012 1015 1016 1020 1021 1027 1028 1029 1033 1038 1041
 1047 1049 1052 1058 1059 1063 1064 1065 1076 1088 1093 1100 1102 1122
 1135 1136 1138 1141 1147 1160 1164 1168 1169 1175 1178 1183 1185 1186
 1190 1197 1198 1200 1201 1213 1214 1226 1227 1230 1233 1238 1239 1240
 1241 1242 1244 1245 1246 1248 1249 1252 1258 1264 1270 1271 1272 1273
 1280 1285 1286 1289 1291 1301 1319 1321 1322 1323 1331 1338 1361 1374
 1376 1378 1379 1384 1393 1401 1402 1405 1407 1411 1414 1416 1418 1426
 1434 1440 1442 1451 1455 1458 1463 1467 1473 1479 1483 1485 1496 1499
 1500 1503 1518 1519 1523 1525 1528 1530 1539 1544 1547 1548 1559 1567
 1575 1576 1577 1580 1583 1593 1596 1599 1601 1613 1621 1625 1630 1638
 1645 1650 1657 1659 1666 1686 1688 1696 1706 1709 1711 1717 1730 1736
 1738 1745 1751 1754 1767 1771 1773 1784 1789 1794 1795 1807 1812 1814
 1845 1851 1860 1862 1873 1880 1884 1887 1898 1929 1934 1939 1943 1948
 1962 1964 1969 1978 1979 1988 1993 1999]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[2000 rows x 2 columns]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1994     28  seq_001378.jpg
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg

[1600 rows x 2 columns]

Train size: 1600

      count      image_name
5        29  seq_001923.jpg
10       33  seq_001338.jpg
12       40  seq_001736.jpg
13       40  seq_000281.jpg
24       26  seq_001894.jpg
...     ...             ...
1978     39  seq_001639.jpg
1979     23  seq_001668.jpg
1988     31  seq_000840.jpg
1993     26  seq_000837.jpg
1999     31  seq_000206.jpg

[400 rows x 2 columns]

Test size: 400

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1994     28  seq_001378.jpg
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg

[1600 rows x 2 columns]

image_name
count
Found 1600 validated image filenames.
Found 400 validated image filenames.
Epoch 1/50
50/50 [==============================] - 70s 1s/step - loss: 254784640.0000 - mae: 2505.5793 - val_loss: 435.5904 - val_mae: 19.6087
Epoch 2/50
50/50 [==============================] - 70s 1s/step - loss: 57529026676026989608960.0000 - mae: 86050422784.0000 - val_loss: 126632205315204351787008.0000 - val_mae: 355392258048.0000
Epoch 3/50
50/50 [==============================] - 70s 1s/step - loss: 1082363284985660244492288.0000 - mae: 818033131520.0000 - val_loss: 493819807227565943291904.0000 - val_mae: 701966712832.0000
Epoch 4/50
50/50 [==============================] - 70s 1s/step - loss: 1828985883881829415518208.0000 - mae: 1080280350720.0000 - val_loss: 806199889704322026438656.0000 - val_mae: 897027604480.0000
Epoch 5/50
50/50 [==============================] - 70s 1s/step - loss: 2385724040351507799867392.0000 - mae: 1251230875648.0000 - val_loss: 1126012965207669508931584.0000 - val_mae: 1060207132672.0000
[   0    1    2 ... 1997 1998 1999]
[   8    9   19   31   34   39   43   44   49   51   57   63   64   79
   81   87   88   92   95   96   97   98  105  115  121  122  124  132
  140  144  149  153  162  170  186  187  189  190  195  207  211  218
  220  224  229  233  243  245  253  255  260  261  269  274  282  296
  298  299  306  324  337  348  357  358  359  360  362  364  366  389
  390  392  404  406  410  413  415  420  422  424  428  433  434  442
  446  450  454  461  466  474  478  485  491  493  497  506  509  517
  527  528  531  534  539  548  554  562  587  594  604  605  607  609
  613  622  630  634  635  647  648  650  655  661  670  674  676  679
  686  689  698  703  709  714  718  722  723  725  730  746  751  753
  754  758  759  760  762  764  767  769  772  774  785  791  800  804
  805  808  817  820  822  828  830  831  838  841  850  855  858  865
  867  868  872  875  876  890  892  894  896  898  902  904  906  908
  912  918  919  924  934  935  937  938  939  942  947  950  972  974
  975  976  987  989 1000 1004 1005 1011 1013 1017 1019 1022 1024 1030
 1032 1035 1045 1050 1057 1060 1069 1070 1071 1073 1074 1075 1080 1083
 1085 1087 1099 1103 1106 1107 1109 1110 1112 1117 1119 1126 1128 1149
 1151 1157 1159 1162 1172 1192 1208 1219 1225 1231 1232 1234 1235 1243
 1261 1262 1269 1276 1278 1283 1287 1288 1294 1295 1302 1307 1311 1314
 1325 1326 1327 1337 1340 1343 1347 1349 1350 1356 1360 1363 1365 1372
 1373 1375 1382 1385 1391 1392 1404 1409 1425 1427 1428 1429 1432 1439
 1445 1446 1457 1470 1472 1478 1490 1493 1498 1501 1506 1507 1511 1517
 1522 1524 1531 1540 1558 1562 1569 1571 1574 1579 1584 1585 1588 1594
 1598 1607 1608 1609 1610 1612 1614 1616 1627 1634 1635 1642 1643 1647
 1649 1651 1652 1673 1675 1679 1681 1701 1704 1708 1721 1732 1733 1744
 1760 1765 1769 1774 1779 1781 1785 1788 1790 1805 1808 1816 1830 1831
 1834 1839 1841 1843 1847 1855 1856 1871 1877 1879 1885 1891 1895 1897
 1901 1903 1909 1916 1918 1930 1933 1935 1937 1938 1942 1944 1949 1953
 1958 1966 1970 1981 1985 1987 1992 1994]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[2000 rows x 2 columns]

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

Train size: 1600

      count      image_name
8        42  seq_000414.jpg
9        28  seq_001788.jpg
19       30  seq_000553.jpg
31       46  seq_001179.jpg
34       28  seq_000642.jpg
...     ...             ...
1981     25  seq_000522.jpg
1985     35  seq_000150.jpg
1987     27  seq_001996.jpg
1992     31  seq_001443.jpg
1994     28  seq_001378.jpg

[400 rows x 2 columns]

Test size: 400

      count      image_name
0        31  seq_001246.jpg
1        34  seq_001237.jpg
2        29  seq_001300.jpg
3        33  seq_000142.jpg
4        27  seq_001380.jpg
...     ...             ...
1995     32  seq_001560.jpg
1996     28  seq_000159.jpg
1997     30  seq_000815.jpg
1998     28  seq_000799.jpg
1999     31  seq_000206.jpg

[1600 rows x 2 columns]

image_name
count
Found 1600 validated image filenames.
Found 400 validated image filenames.
Epoch 1/50
50/50 [==============================] - 70s 1s/step - loss: 74311974414199667294208.0000 - mae: 153821954048.0000 - val_loss: 58421243805404613312512.0000 - val_mae: 241470488576.0000
Epoch 2/50
50/50 [==============================] - 70s 1s/step - loss: 290267948738322232246272.0000 - mae: 434873335808.0000 - val_loss: 136410537919741484335104.0000 - val_mae: 369104551936.0000
Epoch 3/50
50/50 [==============================] - 70s 1s/step - loss: 393167093744408798953472.0000 - mae: 511796576256.0000 - val_loss: 144663294164905370845184.0000 - val_mae: 380086747136.0000
Epoch 4/50
50/50 [==============================] - 70s 1s/step - loss: 427613830257473040154624.0000 - mae: 532335722496.0000 - val_loss: 160102606465050943160320.0000 - val_mae: 399848964096.0000
Epoch 5/50
50/50 [==============================] - 70s 1s/step - loss: 469172831446065863458816.0000 - mae: 557781549056.0000 - val_loss: 181809272121833373564928.0000 - val_mae: 426095149056.0000

# Represent history

In [62]:
print (history)
mea_results = [np.min(x.history['mae']) for x in history]
val_mea_results = [np.min(x.history['val_mae']) for x in history]
loss_results = [np.min(x.history['loss']) for x in history]
val_loss_results = [np.min(x.history['val_loss']) for x in history]
print(mea_results)

[<keras.src.callbacks.History object at 0x2dd484a10>, <keras.src.callbacks.History object at 0x2c69031d0>, <keras.src.callbacks.History object at 0x29847a0d0>, <keras.src.callbacks.History object at 0x2984ebd90>, <keras.src.callbacks.History object at 0x2da0d1210>]
[66.37339782714844, 11.2545747756958, 444855025664.0, 2505.579345703125, 153821954048.0]

In [63]:
print(f'Mean mae: {np.mean(mea_results)}')
print(f'Mean val_mae: {np.mean(val_mea_results)}')
print(f'Mean loss: {np.mean(loss_results)}')
print(f'Mean val_loss: {np.mean(val_loss_results)}')

Mean mae: 119735396459.04146
Mean val_mae: 58102305424.88722
Mean loss: 1.1046698391200082e+23
Mean val_loss: 1.2172599964374565e+22

In [57]:
print(history[0].history.keys())

dict_keys(['loss', 'mae', 'val_loss', 'val_mae'])

In [ ]:
plt.plot(history.history['mae'][display_epochs[0]:display_epochs[1]])
plt.plot(history.history['val_mae'][display_epochs[0]:display_epochs[1]])
plt.title('model mean squared')
plt.ylabel('mean squared')
plt.xlabel('Epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
plt.plot(history.history['loss'][display_epochs[0]:display_epochs[1]])
plt.plot(history.history['val_loss'][display_epochs[0]:display_epochs[1]])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'validation'], loc='upper left')
plt.show()

# Bibliografia

- Deep Learning with Python, Second Edition. François Chollet